* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

@font-face {
  font-family: 'Tahu';
  src: local('tahu'),
  url("./fonts/tahu.ttf") format("truetype");
}

body {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: .3em;
}
 
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
  border-radius: 2px;
}